*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Inter, sans-serif;
}

body{
background:#f4f6f9;
color:#1e293b;
}

.container{
max-width:450px;
margin:100px auto;
background:white;
padding:35px;
border-radius:12px;
box-shadow:0 20px 40px rgba(0,0,0,0.08);
}

input{
width:100%;
padding:12px;
margin:12px 0;
border-radius:8px;
border:1px solid #ddd;
}

button{
width:100%;
padding:12px;
border:none;
border-radius:8px;
background:#2563eb;
color:white;
font-weight:600;
cursor:pointer;
margin-top:10px;
}

.dashboard{
display:flex;
min-height:100vh;
}

.sidebar{
width:250px;
background:#0f172a;
color:white;
padding:30px 20px;
}

.sidebar h3{
margin-bottom:30px;
}

.sidebar a{
display:block;
margin-bottom:18px;
color:white;
text-decoration:none;
font-weight:500;
}

.main{
flex:1;
padding:40px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 10px 25px rgba(0,0,0,0.06);
margin-bottom:20px;
}

.success{
text-align:center;
padding:80px;
}style
